---
import CountryList from "../components/CountryList.astro";
import SearchComponent from "../components/SearchComponent.astro";
import MainLayout from "../layouts/MainLayout.astro";

// TODO: Al cargar que llame a la funcion getCountries y obtenga todos los países //hecho
// TODO: Le pasas el array de países al componente CountryList
import getCountries from "../services/getCountries";
const countrys = await getCountries();
---

<MainLayout title="Home">
  <main class="container mx-auto my-8">
    <h1 class="text-5xl font-bold flex justify-center">Lista de países</h1>
    <SearchComponent />
    <CountryList Acountrys={countrys} />
  </main>
</MainLayout>
