@import "tailwindcss";
@import url('./reset.css');


:root {
  --main-color: hsl(221, 100%, 50%);
  --main-color-darken: hsl(221, 100%, 40%);

}

body {
  margin: 0;
  font-family: 'Montserrat Variable', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/** Cabecera */

.box {
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
}

.main-header {
  /* border: 2px solid red; */
  
  background-color: white;
  padding: 30px;

  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.logo {
  /* outline: 2px solid blue; */

  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2rem;  
}

.logo > span {
  font-weight: 100;
  font-size: 1.5rem;

}

.main-menu {
  margin-left: auto;
  /* outline: 2px solid green; */

  display: flex;
  gap: 1.2rem;

}

.selected {
  color: var(--main-color);
}


/********************************************/

main {
  background-color: hsl(30, 32%, 85%);
}

.main-title {
  text-align: center;
}




/** HOME MAIN */



.home-main {
  background-image: linear-gradient(
    to right,
    hsl(30, 32%, 85%) 35%, 
    white 35%
  );

  padding: 100px 0;

  .profile-container {
    /* outline: 2px solid red; */
  
    width: 800px;
    margin: 0 auto;
  
    display: flex;


  }


  .profile {
    /* border: 2px solid blue; */
    background-color: hsl(26, 39%, 93%);
    text-align: center;
    box-shadow: -10px 10px 10px 0px rgba(128, 128, 128, 0.251);
    width: 45%;


  }
  
  .profile-info {
    padding: 30px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
  }

  
  .profile .avatar {
    border-radius: 50%; 
    width: 100px;
    height: 100px;
    
    object-fit: cover;
  }

  .avatar-name span {
    display: block;
  }

  .separator {
    width: 50px;
    height: 3px;
    background-color: var(--main-color);

    &:hover {
      background-color: crimson;
    }
  }
  .social-icons {
    background-color: white;
    font-size: 20px;
    padding: 5px;
  
  
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .profile-text {
    /* border: 2px solid yellow; */
    padding: 30px;
    width: 55%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;

    .hi {
      font-family: 'Poppins', sans-serif;
      font-size: 4rem;
      font-weight: 700;
    }

    .buttons {
      display: flex;
      gap: 1rem;

      
    }
  }


}


/** CURRICULUM MAIN */

main.curriculum-main {

  .wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
  }

  .title {
    
    display: flex;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  padding: 3rem 0;

  .experience-title, .education-title {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .experience, .education, .habilities {
    background-color: #fff;
    padding: 3rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;

    .data {
      width: 40%;
    }

    .text {
      width: 60%;
    }
  }

  .habilities {
    flex-direction: column;
  }
  

}



/** PROJECTS MAIN */

main.projects-main {

  padding: 3rem 0;


  .projects-intro {
    text-align: center;
    margin: 2rem auto;

    font-size: 0.9rem;
    font-weight: 600;

    width: 80%;
  }

  section.projects {

    width: 50%;
    margin: 0 auto;
  }

  .project {
    background-color: white;
    margin-bottom: 4rem;


    display: flex;
    
      &:last-child {
        margin: 0;
      }
  }

 
  
  .project-info {
    padding: 3rem 0;
  }
  
  .project-info-position {
    border-left: 10px solid var(--main-color);
    padding-left: 1.5rem;
  }

  .project-photo {
  }

  .project-role {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    margin-bottom: 2rem;
  }

  .project-text {
    font-weight: 600;
    padding: 0 calc(10px + 1.5rem);
  }


}




.habilities, .languages {
  background-color: white;
  padding: 3rem;
}

.habilities ul, .languages ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  margin-top: 1.5rem;

  padding: 0;

  /** opci贸n 1 para poner cuadrados azules  */
  /* list-style: square;
  list-style-position: inside; */


  list-style: none;
}

.habilities li, .languages li {
  font-weight: 600;
  width: 50%;


  display: flex;
  align-items: center;
  gap: 1rem;
}

/** Opci贸n 1 para poner cuadrados azules  */
/* .habilities li::marker {
  color: var(--main-color);
  font-size: 1.8rem;
} */


/** Opci贸n 2, usando divs para las cajas azules  */

.blue-marker {
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--main-color);

  /* Opci贸n 1 SIN USAR flex en el <li> */
  /* display: inline-block;
  margin-right: 1rem; */
}



/** Puedo dar estilos solo al social-icons que est茅 dentro del footer  */
.main-footer .social-icons {
  font-size: 14px;
  gap: 0.5rem;
}


.button {
  font-size: 12px;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 100px;
}

.button-primary {
  background-color: var(--main-color);
  /* border: 2px solid hsl(221, 100%, 50%); */
  color: white;
}

.button-secondary {
  background-color: white;
  outline: 1px solid black;
  outline-offset: -1px;
}




/* .year-title {
  color: #0050ff;
}

.project-title {
  color: #0050ff;
} */

/* Tambi茅n podemos unir la misma propiedad en dos selectores  ,  */

.year-title, .project-title, .required{
  color: var(--main-color);
}


/* Otra opci贸n es hacer una clase de UTILIDAD que me indique qu茅 estilos le va a poner. En este caso el texto en azul */
.text-blue {
  color: var(--main-color);
}


/* * Contact page */

main.contact-main {
  padding: 3rem 0;

  .contact-form {
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    input, textarea {
      width: 100%;
      padding: 0.5rem;
      border: 0;
      border-bottom: 1px solid var(--main-color);
    }

    button {
      align-self: flex-end;
      background-color: var(--main-color);
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: var(--main-color-darken);
      }
    }
  }

  .wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
  }

  .contact-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}





/** Pie de p谩gina */


.main-footer {
  background-color: white;
  padding: 30px;

  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.legal-info {
  margin-right: auto;
}

.footer-columns {
  /* border: 2px solid blue; */

  display: flex;
  gap: 2rem;
  
}







