---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <main class="curriculum-main">
    <div class="wrapper">
      <h1 class="title"><span class="box"></span>Currículum</h1>
      <section>
        <div class="experience-title">
          <h2>Experiencia</h2>
          <a href="#">DESCARGAR CV</a>
        </div>
        <article class="experience">
          <div class="data">
            <h2 class="year-title">2023 - Actualmente</h2>
            <h3>Profesor de Programación</h3>
            <p>Fundación Esplai</p>
          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              reprehenderit blanditiis commodi molestiae, aliquam pariatur, cum
              aliquid voluptatum iusto, dolor temporibus fuga. Exercitationem
              cupiditate ut soluta fugiat possimus. Repellat, animi.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic,
              eos!
            </p>
          </div>
        </article>
        <article class="experience">
          <div class="data">
            <h2 class="year-title">2020 - 2023</h2>
            <h3>Profesor de Front-End</h3>
            <p>Hackaboss</p>
          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              reprehenderit blanditiis commodi molestiae, aliquam pariatur, cum
              aliquid voluptatum iusto, dolor temporibus fuga. Exercitationem
              cupiditate ut soluta fugiat possimus. Repellat, animi.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic,
              eos!
            </p>
          </div>
        </article>
      </section>
      <section>
        <h2 class="education-title">Educación</h2>
        <article class="education">
          <div class="data">
            <h2 class="year-title">2015 - 2017</h2>
            <h3>Escola Massana</h3>
            <p>Grado en Arte y Diseño</p>
          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              reprehenderit blanditiis commodi molestiae, aliquam pariatur, cum
              aliquid voluptatum iusto, dolor temporibus fuga. Exercitationem
              cupiditate ut soluta fugiat possimus. Repellat, animi.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic,
              eos!
            </p>
          </div>
        </article>
        <article class="education">
          <div class="data">
            <h2 class="year-title">2017 - 2021</h2>
            <h3>Grado Multimedia</h3>
            <p>Universitat Oberta de Catalunya</p>
          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              reprehenderit blanditiis commodi molestiae, aliquam pariatur, cum
              aliquid voluptatum iusto, dolor temporibus fuga. Exercitationem
              cupiditate ut soluta fugiat possimus. Repellat, animi.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic,
              eos!
            </p>
          </div>
        </article>
      </section>
      <section class="habilities">
        <h2>Habilidades profesionales</h2>
        <ul>
          <li>Mentalidad emprendedora</li>
          <li>Trabajo en equipo y colaborativo</li>
          <li>Planeación orientada al mercado</li>
          <li>Análisis de Datos</li>
        </ul>
        <h2>Idiomas</h2>
        <ul>
          <li>Español (nativo)</li>
          <li>Catalán (nativo)</li>
          <li>Inglés (competente)</li>
        </ul>
      </section>
    </div>
  </main>
</MainLayout>
