---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <main class="projects-main">
    <section class="projects">
      <h1 class="main-title">Proyectos</h1>

      <p class="projects-intro">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
        praesentium accusantium vero omnis autem perspiciatis incidunt enim.
        Eveniet, fuga voluptates? Libero harum quasi quo quia a dolorum
        blanditiis laudantium eius!
      </p>

      <article class="project">
        <div class="project-info">
          <div class="project-info-position">
            <h2 class="project-title">Nombre del proyecto 01</h2>
            <p class="project-role">Rol desempeñado</p>
          </div>

          <p class="project-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            adipisci facere officia minus ex harum laboriosam corporis magnam,
            ipsa nisi soluta voluptate distinctio quos accusamus dolorem,
            deserunt facilis et veniam.
          </p>
        </div>

        <img class="project-photo" src="/img/project-01.jpg" alt="" />
      </article>

      <article class="project">
        <div class="project-info">
          <div class="project-info-position">
            <h2 class="project-title">Nombre del proyecto 02</h2>
            <p class="project-role">Rol desempeñado</p>
          </div>
          <p class="project-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            adipisci facere officia minus ex harum laboriosam corporis magnam,
            ipsa nisi soluta voluptate distinctio quos accusamus dolorem,
            deserunt facilis et veniam.
          </p>
        </div>

        <img class="project-photo" src="/img/project-02.jpg" alt="" />
      </article>

      <article class="project">
        <div class="project-info">
          <div class="project-info-position">
            <h2 class="project-title">Nombre del proyecto 03</h2>
            <p class="project-role">Rol desempeñado</p>
          </div>
          <p class="project-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            adipisci facere officia minus ex harum laboriosam corporis magnam,
            ipsa nisi soluta voluptate distinctio quos accusamus dolorem,
            deserunt facilis et veniam.
          </p>
        </div>

        <img class="project-photo" src="/img/project-03.jpg" alt="" />
      </article>

      <article class="habilities">
        <h2>Habilidades profesionales</h2>

        <ul>
          <li><span class="blue-marker"></span>Mentalidad emprendedora</li>
          <li>
            <span class="blue-marker"></span>Planeación orientada al mercado
          </li>
          <li>
            <span class="blue-marker"></span>Trabajo en equipo y colaborativo
          </li>
          <li><span class="blue-marker"></span>Análisis de Datos</li>
        </ul>
      </article>

      <article class="languages">
        <h2>Idiomas</h2>

        <ul>
          <li><span class="blue-marker"></span>Español nativo</li>
          <li><span class="blue-marker"></span>Catalán nativo</li>
          <li><span class="blue-marker"></span>Inglés competente</li>
        </ul>
      </article>
    </section>
  </main>
</MainLayout>
