---

---

<footer class="main-footer">
  <div class="legal-info">
    <a href="#">Política de Privacidad</a>
    <p>&copy; 2025 Creado por Ivan Luengo con 💓</p>
  </div>

  <div class="footer-columns">
    <div>
      <h2>Llama</h2>
      <a href="tel:+5213312345678">+52-1-33-12345678</a>
    </div>
    <div>
      <h2>Escribe</h2>
      <a href="mailto:info@misitio.com">info@misitio.com</a>
    </div>
    <div>
      <h2>Sigue</h2>
      <nav class="social-icons">
        <a href="https://facebook.com">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://x.com">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="https://linkedin.com">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://instagram.com">
          <i class="bi bi-instagram"></i>
        </a>
      </nav>
    </div>
  </div>
</footer>
