---

---

<header class="bg-gray-900 text-white">
  <div
    class="container mx-auto flex flex-wrap items-center justify-between py-3"
  >
    <a href="/" class="mr-5 text-2xl font-bold">Astro</a>
    <nav class="flex space-x-4">
      <a href="/" class="text-2xl">Home</a>
      <a href="/pokemons" class="text-2xl">Pokemons</a>
    </nav>
  </div>
</header>
