---
import Button from '../../components/Button.astro';
import PokemonGridItem from '../../components/PokemonGridItem.astro';
import MainLayout from '../../layouts/MainLayout.astro';

const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
const pokemons = await resp.json();
---

<MainLayout>
  <main class="container mx-auto my-8">
    <h2 class="text-2xl font-bold my-4">Lista de pokemons</h2>
    <section
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4"
    >
      {pokemons.results.map((pokemon) => <PokemonGridItem pokemon={pokemon} />)}
    </section>
  </main>
</MainLayout>
