---
import type { countryInterface } from "../types/countryInterface";

// TODO: Recibe de las props 1 country
interface Props {
  country: countryInterface;
}
const { country } = Astro.props; // ESTE ES EL PAÍS RECIBIDO POR LAS PROPS
---

<!-- TODO: Cada país será un link a una ruta que muestre la info del país --><!-- La ruta debería ser /country/nombrePais -->
<a href={`/country/${country.name.common}`}>
  <article
    class="p-4 border border-gray-200 rounded shadow-lg flex flex-col items-center"
  >
    <!-- TODO: Aquí se muestra la info del país -->
    <img
      class="w-full h-[150px]"
      src={country.flags.svg}
      alt={`Bandera de ${country.name}`}
    />
    <h2 class="text-xl font-bold mt-4">{country.translations.spa.common}</h2>
  </article>
</a>
