---
import CountryItem from "./CountryItem.astro";
import type { countryInterface } from "../types/countryInterface";

interface Props {
  Acountrys: countryInterface[];
}

const { Acountrys } = Astro.props;
const sortedCountries = [...Acountrys].sort((a, b) =>
  a.name.common.localeCompare(b.name.common)
);
---

<section class="grid grid-cols-2 md:grid-cols-5 gap-4 my-8">
  {sortedCountries.map((country) => <CountryItem country={country} />)}
</section>
