---

---

<header class="bg-gray-900 text-white">
  <div
    class="container mx-auto flex flex-wrap items-center justify-between py-3"
  >
    <a href="/" class="mr-5 text-2xl font-bold">Mis países</a>
  </div>
</header>
